*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    height: 20px;
    width: 167px;
}
.header{
    padding: 20px 50px;
    position: relative;
    z-index: 100;
}
.wrapper{
    background-image: url("1.jpg");
    height: 100vh;
    background-image: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 10;

}

.showcase-top{
    position: relative;
    z-index: 2;
    height: 90px;
    background-color: unset;
}

.showcase-top img{
    width: 140px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(40% , -50%);
    background-color: unset;
}

.wrapper::before{
    content: '';
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

}
.login__body{
    padding: 60px;
    z-index: 100;
    position: relative;
    max-width: 450px;
    height: 630px;
    margin-left: 50%;
    background-color: rgba(0,0,0,0.75);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);

}
.login__body h2{
    font-size: 32px;
    color:#fff ;
    margin-top: 0px;
}
.login__body input{
    height: 50px;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}
.input__wrap{
    margin-bottom: 25px;

}
.login__body button{
    height: 50px;
    width: 100%;
    color: #fff;
    background: #e50914;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #e50914;
}
.support{
    display: flex;
    color: #fff;
    justify-content: space-between;
    font-size: 12px;
}
.support input{
    width: 15px;
    height: 15px;
}
.remember{
    display: flex;
    align-items: center;

}
.remember span{
    margin-right: 10px;
    height: 25px;
}
.need__help a{
    color: #fff;
    text-decoration: unset;
}
.login__facebook{
    display: flex;
    align-items: center;
    width: 100%;
    color: #737373;
}
.login__facebook img{
    width :20px;
    height: 20px;
}
.login__facebook span{
    margin-right: 10px;
    font-size: 13px; 
    font-weight: 500;  
}
.login__facebook span a{
    text-decoration: none;
    color: #737373;
}
.sign__up{
    color: #737373;
    font-size: 16px;
    font-weight: 500;
}
.sign__up a{
    color: #fff;
    font-size: 16px;
    text-decoration:  none;
    font-weight: 500;
}
.terms{
    color: #737373;
    font-size: 13px;
    font-weight: 500;
}
.faq{
    text-align: center;
}

.faq h1{
    padding-bottom: 40px;
    font-size: 3rem;
}

.questions{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
}

.questions li{
    padding: 20px 30px;
    margin: 5px;
    font-size: 1.6rem;
    background-color: #303030;
    color: white;
    text-align: left;
    width: 50%;
}

.faq p{
    padding-top: 60px;
    font-size: 1.2rem;
    font-weight: 200;
}

.input{
    display: inline-grid;
    align-items: center;
    grid-template-columns: 50% 40%;
}

.input input{
    width: 600px;
    height: 3rem;
}

.input button{
    height: 3.25rem;
    width: 320px;
    left: 20px;
    text-align: center;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    padding: 15px 32px;
    border: none;
    border-radius: 2px;
    color: white;
}

.footer{
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
}

.footer ,
.footer a{
    color: #999999;
    font-size: 0.9rem;
}

.footer p{
    margin-bottom: 1.5rem;
}

.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 2rem;
}

.footer li{
    line-height: 2.4;
}


.footer .footer-cols ul{
    list-style-type:none ;
}
.footer .footer-cols ul li a{
    text-decoration: none;
    word-spacing: 5px;
    /* flex-shrink: 20px ; */
}